.App {
  text-align: center;
  padding: 30px;
  font-size: 20px;
  margin: 50px;
}
.coverPhoto {
  margin: 50px;
  max-width: 1200px;
}
.main {
  border-color: 1px solid black;
  width: 90px;
  background-color: aqua;
}
